In [1]:
import pandas as pd

In [2]:
import numpy as np

In [108]:
df = pd.read_csv('IMDB Dataset.csv')
df.shape

(50000, 2)

In [109]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

### Text cleaning required

-remove 1000rows
-Rrmove html tags
-remove special characters
-converting all to lower case
-removing stopwords
-stemming

### Removing 1000 sample rows

In [110]:
df = df.sample(1000)
df

                                                  review sentiment
11843  Ray is one of those movies that makes you paus...  positive
9362   This documentary by Marian Cooper is absolutel...  positive
35827  Saw this movie recently and had higher hopes. ...  negative
45265  Gary Busey's best performance in a nicely-flow...  positive
28716  I HATE THIS MOVIE!!!!!! I have never seen such...  negative
...                                                  ...       ...
40657  First they came for the Communists, and I didn...  positive
1719   When I was young, I was a big fan of the Naked...  positive
48227  Lifeforce starts in outer space where the HMS ...  positive
21504  This film is the freshman effort of Stephanie ...  negative
5052   This was a disappointment - none of the nuance...  negative

[1000 rows x 2 columns]

In [156]:
# Replacing unique values in target calumn by zero and ones

df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [112]:
df.head(1)

                                                  review  sentiment
11843  Ray is one of those movies that makes you paus...          1

### Removing html tags

In [113]:
df.iloc[2].review

"Saw this movie recently and had higher hopes. Not so much based upon the director, who hadn't made a cinematographic release before, but more based upon its cast. Harvey Keitel, Scott Glenn and Craig Wasson (lead role in Body double, a Brian De Palma masterpiece) have all starred in great movies. Not together though, and this fact hasn't exactly changed because of this one.<br /><br />The film is unbelievable, very predictable and cliché. The only thing that might make it slightly appealing is the selection of locations on which it's been shot. In my humble opinion: don't waste your time on this one."

In [114]:
import re
clean = re.compile('<.*?>')
re.sub(clean,'',df.iloc[2].review)

"Saw this movie recently and had higher hopes. Not so much based upon the director, who hadn't made a cinematographic release before, but more based upon its cast. Harvey Keitel, Scott Glenn and Craig Wasson (lead role in Body double, a Brian De Palma masterpiece) have all starred in great movies. Not together though, and this fact hasn't exactly changed because of this one.The film is unbelievable, very predictable and cliché. The only thing that might make it slightly appealing is the selection of locations on which it's been shot. In my humble opinion: don't waste your time on this one."

In [115]:
def clean_text(text):
    clean = re.compile('<.*?>')
    return re.sub(clean,'',text)

In [116]:
df['review'] = df['review'].apply(clean_text)

### Converting text to lowercase

In [117]:
def lower_text(text):
    return text.lower()

In [118]:
df['review'] = df['review'].apply(lower_text)

### Removing special characters

In [119]:
def remove_spe(text):
    x=''
    for i in text:
        if i.isalnum():
            x+=i
        else:
            x=x+' '
    return x

In [120]:
df['review'] = df['review'].apply(remove_spe)

### Remove stopwords

In [121]:
import nltk
from nltk.corpus import stopwords

In [122]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [123]:
df.head(5)

                                                  review  sentiment
11843  ray is one of those movies that makes you paus...          1
9362   this documentary by marian cooper is absolutel...          1
35827  saw this movie recently and had higher hopes  ...          0
45265  gary busey s best performance in a nicely flow...          1
28716  i hate this movie       i have never seen such...          0

In [124]:
#stopwords.words('english')

In [125]:
def stopword_remov(text):
    x =[]
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [126]:
df['review'] = df['review'].apply(stopword_remov)

In [127]:
df.head()

                                                  review  sentiment
11843  [ray, one, movies, makes, pause, actually, thi...          1
9362   [documentary, marian, cooper, absolutely, amaz...          1
35827  [saw, movie, recently, higher, hopes, much, ba...          0
45265  [gary, busey, best, performance, nicely, flowi...          1
28716  [hate, movie, never, seen, utter, complete, tr...          0

In [157]:
# Since Code is executed in local machine so its taking time lets resduce sample size to 500 
df = df.sample(500)

## Stemming

In [129]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [130]:
y = []
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [131]:
stem_words(['loving','loved','love'])

['love', 'love', 'love']

In [132]:
df['review'] = df['review'].apply(stem_words)

In [133]:
df.head()

                                                  review  sentiment
39462  [felt, asleep, watch, ticket, midnight, premie...          0
49773  [happen, spot, flick, shelf, new, releas, foun...          0
27224  [four, daughter, introduc, john, garfield, aud...          1
30077  [plunkett, maclean, two, highwaymen, rob, rich...          0
36942  [thought, movi, ok, disappoint, captur, true, ...          0

In [134]:
def join_back(list_input):
    return " ".join(list_input)

In [135]:
df['review'] = df['review'].apply(join_back)

In [136]:
df.head()

                                                  review  sentiment
39462  felt asleep watch ticket midnight premier ques...          0
49773  happen spot flick shelf new releas found idea ...          0
27224  four daughter introduc john garfield audienc r...          1
30077  plunkett maclean two highwaymen rob rich order...          0
36942  thought movi ok disappoint captur true imag li...          0

## Using Bag of words technique to cnvrt in vector form

In [137]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=250)

In [138]:
X = cv.fit_transform(df['review']).toarray()

In [139]:
X.shape

(500, 250)

In [141]:
y = df.iloc[:,-1].values

In [142]:
y.shape

(500,)

In [143]:
y

array([0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0], dtype=int64)

## Model building - Naive bsd algorithm

In [145]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [146]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [149]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [150]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB()

In [151]:
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [152]:
from sklearn.metrics import accuracy_score

In [155]:
print('Gaussian accuracy:', accuracy_score(y_test,y_pred1))
print('Multinomial accuracy:', accuracy_score(y_test,y_pred2))
print('Bernoulli accuracy:', accuracy_score(y_test,y_pred3))

Gaussian accuracy: 0.7
Multinomial accuracy: 0.77
Bernoulli accuracy: 0.76